
.page-content {
    min-height: 50rem;
}

.image-fit {
    min-width: 100%;
    height: auto;
}

.float-right {
    float: right;
}

.image-centered {
    margin-left: auto;
    margin-right: auto;
}