
.page-content {
    min-height: 50rem;
}

.image-fit {
    min-width: 100%;
    height: auto;
}

.float-right {
    float: right;
}

.image-centered {
    margin-left: auto;
    margin-right: auto;
}

.card-content {
    min-height: 200px;
}

.blog-image {
    height: 230px;
}

.blog-title {
    height: 50px;
}

